

    {% extends "projectmanager/base.html" %}

    {% block content %}  
     <form method="get" action="{% url 'projectmanager-home' %}" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search for projects by name..." aria-label="Search" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>  
    {% for project in projects %}
    <div class="col">
      <div class="card h-100 shadow bg-light">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            <i class="fa fa-project-diagram fa-2x text-primary"></i> <!-- Example icon -->
            <a href="{% url 'project-detail' project.id %}" class="stretched-link text-decoration-none text-dark">{{ project.project_name }}</a>
          </h5>
          <p class="card-text">
            {{ project.description }}
            {% if project.managed_project %}

            {% endif %}
        </p>
        </div>
        <div class="card-footer bg-white">
          <small class="text-muted">Status: <span class="text-success">{{ project.get_status_display }}</span></small>
          <br>          
          <small class="text-muted">Managed by: <span class="text-success">{{ project.managed_project}}</span></small>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock content %}




