
    {% extends "messaging/base.html" %}

    {% block content %}
    {% for message in messages %}
        <article class="media content-section">
          {% comment %} <img class="rounded-circle article-img" src="{{ message.sender.profile.image.url }}"> {% endcomment %}
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ message.sender }}</a>
                <small class="text-muted">{{ message.timestamp|date:'dS, F, Y'}}</small>
              </div>
              <h2><a class="article-title" href="{% url 'message-detail' message.id %}">{{ message.subject }}</a></h2>
              <p class="article-content">{{ message.body }}</p>
            </div>
          </article>
    {% endfor %}
{% endblock content %}